################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net9.0
/obj
/wwwroot/lib
/appsettings.Development.json
/appsettings.json
.vs/
*/.vs/
/.vs/SquirrelCannon/FileContentIndex
/.vs/ProjectEvaluation
/.vs/SquirrelCannon/v17/DocumentLayout.backup.json
/bin/Release/net9.0
